body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.box:hover {
    background-color: #f5f5f5;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff; /* Cor do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}